@import "https://dds.dell.com/components/2.0.7/css/dds-reboot.min.css";
@import "https://dds.dell.com/components/2.0.7/css/dds-fonts.min.css";
@import "https://dds.dell.com/components/2.0.7/css/dds-icons.min.css";
@import "https://dds.dell.com/components/2.0.7/css/dds-helpers.min.css";
@import "https://dds.dell.com/components/2.0.7/css/dds-main.min.css";

html,
body {
  min-height: 100vh;
}

.template {
  display: flex;
  height: 100%;
}

main {
  flex: 1;
  background: none;
}

a {
  font-size: inherit;
}

a > i.dds__icon--pop-up-arrow-corner {
  display: inline-block;
  font-size: 0.75em;
  margin-left: 0.25em;
}

.ornament {
  align-items: center;
  border-radius: 24px;
  color: rgba(0, 0, 0, 0.75);
  display: flex;
  font-size: 1.25em;
  height: 48px;
  justify-content: center;
  margin-bottom: 2em;
  width: 48px;
}

strong {
  font-weight: 500;
}

.ornament.blue {
  background-color: #d9f5fd;
}

.ornament.red {
  background-color: #ffecee;
}

.ornament.green {
  background-color: #e9f5ce;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1086px;
  width: 100%;
  margin: 56px auto 0px;
}

.dds__side-nav a,
.dds__side-nav button {
  cursor: pointer;
}

#ff-alert {
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  overflow: hidden;
  padding: 16px;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.25s ease-out;
  z-index: 1060;
}

#ff-alert:not(.visible) {
  opacity: 0;
  transition: opacity 0.25s ease-out, z-index 0s 0.25s;
  z-index: -1;
}

#ff-alert:not(.visible) .alert {
  transform: translatey(100vh) scale(0.5);
  opacity: 0;
}

#ff-alert .alert {
  background-color: #fff;
  max-width: 100%;
  max-height: 100%;
  padding: 32px;
  border-radius: 16px;
  display: flex;
  flex-flow: column nowrap;
  width: 400px;
  box-shadow: 0 8px 24px -8px rgba(0, 0, 0, 0.4);
  transition: transform 0.4s 0.15s cubic-bezier(0, 0.7, 0.5, 1.4),
    opacity 0.25s ease-in-out;
}

#ff-alert .alert button {
  align-self: flex-end;
}

@media screen and (max-width: 480px) {
  .template {
    flex-flow: column nowrap;
  }

  .dds__side-nav__wrapper {
    width: 100vw !important;
    position: fixed;
    height: 56px;
    bottom: 0;
  }

  .dds__side-nav__wrapper .dds__side-nav__menu {
    width: auto !important;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
  }

  .dds__side-nav__wrapper .dds__side-nav__item {
    flex: 1;
  }

  .dds__side-nav__wrapper .dds__side-nav__item span {
    display: none;
  }

  .dds__side-nav__wrapper .dds__side-nav__item a {
    grid-template-areas:
      "border"
      "ikon" !important;
    grid-template-columns: 1fr !important;
    height: 100%;
    width: auto !important;
  }

  .dds__side-nav__wrapper .dds__side-nav__item a:before {
    height: 0.25rem;
    width: 100%;
  }
}
